/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#buttons .hover {
  background: #222222;
  color: #ffffff;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
}
.homepage .menu {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 50px;
  background: #828282;
  opacity: 0.9;
  z-index: 20;
}
.homepage .menu .navbar {
  font-weight: bold;
  font-size: 2.4rem;
  color: #ffffff;
  display: flex;
  max-width: 1024px;
  width: 100%;
  height: 50px;
  padding: 0px 85px;
  justify-content: space-between;
  align-items: center;
}
.homepage .menu .navbar img {
  cursor: pointer;
}
.homepage .menu-items {
  display: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  margin-top: 50px;
  background: #828282;
  opacity: 0.9;
  z-index: 20;
}
.homepage .menu-items li {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 8.5rem;
  color: #ffffff;
}
.homepage .menu-items li:hover {
  color: #222222;
}
.homepage .menu-items_revealed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage .jumbotron {
  width: 100%;
  height: 600px;
  background: url('../img/home/home-jumbotron.png');
  background-size: cover;
  margin: auto;
  position: relative;
}
.homepage .jumbotron img {
  width: 100%;
}
.homepage .jumbotron .jtron-header {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #ffffff;
  position: absolute;
  bottom: 50px;
  left: 80px;
  z-index: 10;
}
.homepage .main-content {
  max-width: 864px;
  width: 100%;
  margin: auto;
}
.homepage .main-content .main-content-top {
  margin: 0 10px;
}
.homepage .main-content .main-content-top .top-content-block {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
}
.homepage .main-content .main-content-top .top-content-block .top-content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 49%;
}
.homepage .main-content .main-content-top .top-content-block .top-content-info span {
  line-height: 2.5rem;
}
.homepage .main-content .main-content-top .top-content-block .top-content-info .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #222222;
  width: 135px;
  height: 45px;
  cursor: pointer;
}
.homepage .main-content .main-content-top .top-content-block .top-content-info .button:hover {
  background: #222222;
  color: #ffffff;
}
.homepage .main-content .main-content-top .top-content-block img {
  width: 49%;
  height: auto;
}
.homepage .main-content .main-content-bottom h3 {
  padding-left: 10px;
}
.homepage .main-content .main-content-bottom .bottom-content-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage .main-content .main-content-bottom .bottom-content-block .projects {
  position: relative;
  margin: 50px 0px;
}
.homepage .main-content .main-content-bottom .bottom-content-block .projects .recent-project-titles-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  width: 315px;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 0.7rem;
  background-color: #d8d8d8;
  border: solid 1px white;
  position: absolute;
  bottom: -50px;
  right: 0px;
}
.homepage .main-content .main-content-bottom .bottom-content-block .projects .recent-project-titles-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  width: 315px;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 0.7rem;
  background-color: #d8d8d8;
  border: solid 1px white;
  position: absolute;
  bottom: -50px;
  left: 0px;
}
.homepage .main-content .main-content-bottom .bottom-content-block .projects img {
  width: 100%;
  height: auto;
}
.homepage .main-content .main-content-bottom .bottom-content-block .project-text {
  margin: 50px 0px;
  max-width: 435px;
  width: 100%;
  line-height: 2.3rem;
  color: #222222;
}
.homepage footer {
  width: 100%;
  background-color: #9aa4ad;
  padding-top: 65px;
}
.homepage footer .footer-content {
  font-weight: regular;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #ffffff;
  display: flex;
  max-width: 864px;
  margin: auto;
}
.homepage footer .footer-content .contact {
  width: 40%;
  margin: 0px 7px;
}
.homepage footer .footer-content .contact h4 {
  font-weight: regular;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
}
.homepage footer .footer-content .contact .form-placeholder {
  display: flex;
  padding-left: 10px;
  margin: 10px 0;
  align-items: center;
  max-width: 275px;
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 3px;
  background: white;
  color: gray;
}
.homepage footer .footer-content .locations {
  width: 20%;
  margin: 0px 7px;
}
.homepage footer .footer-content .locations h4 {
  font-weight: regular;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
}
.homepage footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 15px 0;
  color: #ffffff;
  font-size: 1.2rem;
}
