/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
}
.mobile-img {
  display: none;
}
nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 50px;
  background: #828282;
  opacity: 0.9;
  z-index: 20;
}
nav .navbar {
  font-weight: bold;
  font-size: 2.4rem;
  color: #ffffff;
  display: flex;
  max-width: 1024px;
  width: 100%;
  height: 50px;
  padding: 0px 85px;
  justify-content: space-between;
  align-items: center;
}
nav .navbar img {
  cursor: pointer;
}
.menu-items {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  margin-top: 50px;
  background: #828282;
  opacity: 0.9;
  z-index: 20;
}
.menu-items li {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 8.5rem;
  color: #ffffff;
}
.menu-items li a {
  text-decoration: none;
  color: #ffffff;
}
.menu-items li a:hover {
  color: #222222;
}
.menu-items_revealed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-jtron {
  width: 100%;
  height: 600px;
  background: url('../img/home/home-jumbotron.png');
  background-size: cover;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-jtron img {
  width: 100%;
}
.home-jtron .jtron-header {
  max-width: 894px;
  width: 100%;
  margin-left: 15px;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #ffffff;
  position: absolute;
  bottom: 8.3%;
  z-index: 10;
}
.main-content {
  max-width: 864px;
  width: 100%;
  margin: auto;
}
.main-content .main-content-top {
  margin: 0 10px;
}
.main-content .main-content-top .top-content-block {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
}
@media (max-width: 600px) {
  .main-content .main-content-top .top-content-block {
    align-items: center;
  }
}
.main-content .main-content-top .top-content-block .top-content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 49%;
}
@media (max-width: 600px) {
  .main-content .main-content-top .top-content-block .top-content-info {
    width: 98%;
  }
  .main-content .main-content-top .top-content-block .top-content-info h3 {
    margin: 30px 0;
  }
}
.main-content .main-content-top .top-content-block .top-content-info span {
  line-height: 2.5rem;
}
.main-content .main-content-top .top-content-block .top-content-info .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #222222;
  width: 135px;
  height: 45px;
  cursor: pointer;
}
.main-content .main-content-top .top-content-block .top-content-info .button:hover {
  background: #222222;
  color: #ffffff;
}
@media (max-width: 600px) {
  .main-content .main-content-top .top-content-block .top-content-info .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #222222;
    width: 100%;
    height: 45px;
    cursor: pointer;
    margin-top: 30px;
    align-self: center;
  }
  .main-content .main-content-top .top-content-block .top-content-info .button:hover {
    background: #222222;
    color: #ffffff;
  }
}
.main-content .main-content-top .top-content-block img {
  width: 49%;
  height: 100%;
}
@media (max-width: 600px) {
  .main-content .main-content-top .top-content-block img {
    width: 98%;
  }
}
@media (max-width: 600px) {
  .main-content .main-content-top .top-content-block .desktop-img {
    display: none;
  }
  .main-content .main-content-top .top-content-block .mobile-img {
    display: block;
  }
}
.main-content .main-content-top .top-content-block:nth-child(2n - 1) {
  flex-direction: row-reverse;
}
@media (max-width: 600px) {
  .main-content .main-content-top .top-content-block:nth-child(2n - 1) {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .main-content .main-content-top .top-content-block {
    flex-direction: column;
  }
}
.main-content .main-content-bottom {
  padding-top: 50px;
}
@media (max-width: 600px) {
  .main-content .main-content-bottom {
    padding-top: 5px;
  }
}
.main-content .main-content-bottom h3 {
  padding-left: 10px;
}
.main-content .main-content-bottom .bottom-content-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
}
.main-content .main-content-bottom .bottom-content-block .projects {
  position: relative;
  margin: 50px 0px;
  width: 100%;
}
.main-content .main-content-bottom .bottom-content-block .projects .recent-project-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  width: 315px;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 0.7rem;
  background-color: #d8d8d8;
  border: solid 1px white;
  position: absolute;
  bottom: -50px;
}
@media (max-width: 600px) {
  .main-content .main-content-bottom .bottom-content-block .projects .recent-project-titles {
    bottom: -80px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}
.main-content .main-content-bottom .bottom-content-block .projects img {
  width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  .main-content .main-content-bottom .bottom-content-block .projects .desktop-img {
    display: none;
  }
  .main-content .main-content-bottom .bottom-content-block .projects .mobile-img {
    display: block;
  }
}
.main-content .main-content-bottom .bottom-content-block .project-text {
  margin: 50px 0px;
  max-width: 435px;
  width: 100%;
  line-height: 2.5rem;
  color: #222222;
}
.main-content .main-content-bottom .bottom-content-block:nth-child(2n) .recent-project-titles {
  right: 0px;
}
.services-jtron {
  width: 100%;
  height: 250px;
  background: url('../img/services/services-jumbotron.png');
  background-size: cover;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-jtron img {
  width: 100%;
}
.services-jtron .jtron-header {
  max-width: 894px;
  width: 100%;
  margin-left: 15px;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #ffffff;
  position: absolute;
  bottom: 8.3%;
  z-index: 10;
}
.services-content {
  max-width: 864px;
  width: 100%;
  margin: auto;
}
.services-content .intro {
  margin-top: 60px;
  line-height: 2.5rem;
}
.services-content .tabs {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}
.services-content .tabs .each-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #222222;
  width: 180px;
  height: 50px;
  cursor: pointer;
}
.services-content .tabs .each-tab:hover {
  background: #222222;
  color: #ffffff;
}
.services-content .tab-content {
  display: none;
}
.services-content .tab-content .tab-content-info {
  display: flex;
  margin: 25px 0px;
  justify-content: space-between;
}
.services-content .tab-content .tab-content-info span {
  line-height: 2.5rem;
  width: 48%;
}
.services-content .tab-content_revealed {
  display: block;
}
.services-content .tab_selected {
  background: #5e9fb9;
  color: #ffffff;
}
footer {
  width: 100%;
  background-color: #828282;
  padding-top: 65px;
}
@media (max-width: 600px) {
  footer {
    padding-top: 30px;
  }
}
footer .footer-content {
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #ffffff;
  display: flex;
  max-width: 864px;
  margin: auto;
}
@media (max-width: 600px) {
  footer .footer-content {
    flex-direction: column;
    align-items: center;
    max-width: inherit;
    padding: 0px 10px;
  }
}
footer .footer-content .contact {
  width: 40%;
  margin: 0px 7px;
}
@media (max-width: 600px) {
  footer .footer-content .contact {
    width: 100%;
    padding-bottom: 15px;
  }
}
footer .footer-content .contact h4 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
}
footer .footer-content .contact input {
  display: flex;
  padding-left: 10px;
  margin: 10px 0;
  align-items: center;
  max-width: 275px;
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 3px;
  background: white;
  color: gray;
}
@media (max-width: 600px) {
  footer .footer-content .contact input {
    max-width: inherit;
  }
}
footer .footer-content .locations {
  width: 20%;
  margin: 0px 7px;
}
@media (max-width: 600px) {
  footer .footer-content .locations {
    width: 100%;
    margin: 15px 0;
  }
}
footer .footer-content .locations h4 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 15px 0;
  color: #ffffff;
  font-size: 1.2rem;
}
