.home-jtron {
  .jumbotron-mixin(@home-jumbo, 600px);
}

.main-content {
  max-width: 864px;
  width: 100%;
  margin: auto;

  .main-content-top {
    margin: 0 10px;

    .top-content-block {
      display: flex;
      justify-content: space-between;
      margin: 50px 0px;

      @media @mobile {
        align-items: center;
      }

      .top-content-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 49%;

        @media @mobile {
          width: 98%;

          h3 {
            margin: 30px 0;
          }
        }

        span {
          line-height: @line-height;
        }

        .button {
          #buttons.btn-main;

          @media @mobile {
            #buttons.btn-mobile;
            margin-top: 30px;
            align-self: center;
          }
        }
      }

      img {
        width: 49%;
        height: 100%;

        @media @mobile {
          width: 98%;
        }
      }

      @media @mobile {
        .desktop-img {
          display: none;
        }
        .mobile-img {
          display: block;
        }
      }

      &:nth-child(2n - 1) {
        flex-direction: row-reverse;
        @media @mobile {
          flex-direction: column;
        }
      }

      @media @mobile {
        flex-direction: column;
      }
    }
  }

  .main-content-bottom {
    padding-top: 50px;

    @media @mobile {
      padding-top: 5px;
    }

    h3 {
      padding-left: 10px;
    }

    .bottom-content-block {
      .center;
      flex-direction: column;
      margin: 0 10px;

      .projects {
        position: relative;
        margin: 50px 0px;
        width: 100%;

        .recent-project-titles {
          .project-titles;
          position: absolute;
          bottom: -50px;

          @media @mobile {
            bottom: -80px;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        img {
          width: 100%;
          height: auto;
        }

        @media @mobile {
          .desktop-img {
            display: none;
          }
          .mobile-img {
            display: block;
          }
        }
      }

      .project-text {
        margin: 50px 0px;
        max-width: 435px;
        width: 100%;
        line-height: @line-height;
        color: @text-color;
      }

      &:nth-child(2n) {
        .recent-project-titles {
          right: 0px;
        }
      }
    }
  }
}
