.homepage {
  .menu {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: @menu-height;
    background: @nav-bar-bg;
    opacity: @menu-opacity;
    z-index: 20;

    .navbar {
      .nav-logo;
      display: flex;
      max-width: 1024px;
      width: 100%;
      height: @menu-height;
      padding: 0px 85px;
      justify-content: space-between;
      align-items: center;

      img {
        cursor: pointer;
      }
    }
  }

  .menu-items {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin-top: @menu-height;
    background: @nav-bar-bg;
    opacity: @menu-opacity;
    z-index: 20;

    li {
      .nav-text-expanded;
    }
  }

  .menu-items_revealed {
    .center;
  }

  .jumbotron {
    // max-width: 1024px;
    width: 100%;
    height: 600px;
    background: url('../img/home/home-jumbotron.png');
    background-size: cover;
    margin: auto;
    position: relative;

    img {
      width: 100%;
    }
    // ! Is the position absolute/relative
    // ! and z-indexing here with the menu
    // ! bar and the jumbotron hacky or good?
    .jtron-header {
      .jumbotron-headers;
      position: absolute;
      bottom: 50px;
      left: 80px;
      z-index: 10;
    }
  }

  .main-content {
    max-width: 864px;
    width: 100%;
    margin: auto;

    .main-content-top {
      margin: 0 10px;

      .top-content-block {
        display: flex;
        justify-content: space-between;
        margin: 50px 0px;

        .top-content-info {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          width: 49%;

          span {
            line-height: 2.5rem;
          }

          .button {
            #buttons.btn-main;
            cursor: pointer;
          }
        }

        img {
          width: 49%;
          height: auto;
        }
      }
    }

    .main-content-bottom {
      h3 {
        padding-left: 10px;
      }
      .bottom-content-block {
        .center;
        flex-direction: column;
        .projects {
          position: relative;
          margin: 50px 0px;

          .recent-project-titles-right {
            .project-titles;
            position: absolute;
            bottom: -50px;
            right: 0px;
          }
          .recent-project-titles-left {
            .project-titles;
            position: absolute;
            bottom: -50px;
            left: 0px;
          }

          img {
            width: 100%;
            height: auto;
          }
        }

        .project-text {
          margin: 50px 0px;
          max-width: 435px;
          width: 100%;
          line-height: 2.3rem;
          color: @text-color;
        }
      }
    }
  }

  footer {
    width: 100%;
    background-color: @footer-bg;
    padding-top: 65px;

    .footer-content {
      .footer-text;
      display: flex;
      max-width: 864px;
      margin: auto;

      .contact {
        width: 40%;
        margin: 0px 7px;

        h4 {
          .footer-headers;
        }

        .form-placeholder {
          display: flex;
          padding-left: 10px;
          margin: 10px 0;
          align-items: center;
          max-width: 275px;
          width: 100%;
          height: 40px;
          border: 1px solid gray;
          border-radius: 3px;
          background: white;
          color: gray;
        }
      }

      .locations {
        width: 20%;
        margin: 0px 7px;

        h4 {
          .footer-headers;
        }
      }
    }

    .copyright {
      .center;
      padding: 40px 0 15px 0;
      color: @footer;
      font-size: 1.2rem;
    }
  }
}
