.center () {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo () {
  font-weight: bold;
  font-size: 2.4rem;
  color: @nav;
}

.nav-text () {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 8.5rem;
  color: @nav;

  &:hover {
    color: @nav-expanded-hover;
  }
}

.nav-text-expanded () {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 8.5rem;
  color: @nav-expanded;

  a {
    text-decoration: none;
    color: @nav-expanded;

    &:hover {
      color: @nav-expanded-hover;
    }
  }
}

.jumbotron-mixin (@image-address, @height, @bottom) {
  width: 100%;
  height: @height;
  background: @image-address;
  background-size: cover;
  margin: auto;
  position: relative;

  img {
    width: 100%;
  }
  // ! Is the position absolute/relative
  // ! and z-indexing here with the menu
  // ! bar and the jumbotron hacky or good?
  .jtron-header {
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 7.5rem;
    color: @jumbotron-header;
    position: absolute;
    bottom: @bottom;
    left: 85px;
    z-index: 10;
  }
}

.sub-headers () {
  font-weight: bold;
  font-size: 2.8rem;
  color: @sub-header;
}

.project-titles () {
  .center;
  height: 95px;
  width: 315px;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 0.7rem;
  background-color: @project-title-bg;
  border: solid 1px white;
}

.footer-headers () {
  font-weight: regular;
  font-size: 2rem;
  line-height: 2.4rem;
  color: @footer;
}

.footer-text () {
  font-weight: regular;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: @footer;
}

#buttons {
  .hover {
    background: @tab-hover-bg;
    color: @tab-hover;
  }

  .btn-main () {
    .center;
    border: solid 1px @button-border;
    width: 135px;
    height: 45px;
    cursor: pointer;

    &:hover {
      #buttons.hover;
    }
  }

  .tabs () {
    .center;
    border: solid 1px @button-border;
    width: 180px;
    height: 50px;
    text-align: center;
    cursor: pointer;

    &:hover {
      #buttons.hover;
    }
  }
}
